---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">

        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}
              {% include figure.html 
              path=profile_image_path 
              class="img-fluid z-dept-1 rounded-circle"
              alt=page.profile.image -%}
            {% endif -%}
          </div>
          <h1>
            {{ site.first_name }}{{ site.middle_name }} {{ site.last_name }}
          </h1>
    
          <div>
            Assistant Professor<br>
            Office: 228C, College of Technology Building<br> 
            Phone: (713)743-5366<br>
            Department of Engineering Technology<br>
            University of Houston<br> 
            Houston, Texas, 77004<br>
            {%- if page.social %}
            <!-- Social -->
            <div class="social">
              <div class="contact-icons">
              {% include social.html %}
              </div>
            </div>
            {%- endif %} 
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
        </article>

    </div>
